header {
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.button {
    background-color: red;
    color: black;
    border: 2px solid black;
    border-radius: 8px;
    padding: 4px;
    font-size: 16px;
}